# SEMANA 05
Quijahuaman Cordova, Ronald Manuel

Temas:
    1. Colecciones de Datos
    2. Estructuras Decisivas y Estructuras Repetitivas
    3. Clases y Objetos
    Funciones

1. Colecciones

In [1]:
# 1.1. Listas
# Es una colección de elementos que puede ser ordenado, modificado, etc...
# Se identifica por los corchetes
# Ejemplo:
aula=['Huaman', 'Pineda','Luque','Cachay']
print(aula)

['Huaman', 'Pineda', 'Luque', 'Cachay']

In [2]:
aula

['Huaman', 'Pineda', 'Luque', 'Cachay']

In [4]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Huaman
Pineda

In [5]:
# Puedo asignar un valor a una posición de la lista
aula[1] = 'Soto'
aula[1]

'Soto'

In [6]:
# Mostramos como quedó la lista
aula

['Huaman', 'Soto', 'Luque', 'Cachay']

In [7]:
# Para asignar un elemento utilizamos append
aula.append("Llanos")
aula.append("Luque")

In [8]:
aula

['Huaman', 'Soto', 'Luque', 'Cachay', 'Llanos', 'Luque']

In [9]:
# Para eliminar elementos utilizamos remove[]
aula.remove("Huaman")

In [10]:
aula

['Soto', 'Luque', 'Cachay', 'Llanos', 'Luque']

In [11]:
# Si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Luque")
aula

['Soto', 'Cachay', 'Llanos', 'Luque']

In [12]:
# Para obtener el tamaño utilizamos Len()
len(aula)

4

In [14]:
for alumno in aula:
    print(alumno)

Soto
Cachay
Llanos
Luque

In [15]:
# Para invertir la lista utilizamos reverse()
# invertir NO significa ordenar en forma descendente sin invertir la lista
aula.reverse()
aula

['Luque', 'Llanos', 'Cachay', 'Soto']

In [16]:
# Para ordenar una lista utilizamos sort()
aula.sort()
aula

['Cachay', 'Llanos', 'Luque', 'Soto']

In [17]:
# 1.2 Tuplas
# Es una colección de elementos ordenada (Ordenado significa que tiene indice) que no se pueden modificar
#

#1.5 Ejercicio
Dado una lista[AQUINO, ARCOS, BALDEON, BARZOLA, BELLO, CACHAY, CARRASCO, CIRIACO, DELGADO, GAYOSO, GONZALES, GRANADOS, HUAMAN, LLANOS,LUQUE, PINEDA, PRADO, QUIJAHUAMAN, QUISPE ,RAKAUSKAS, RAMOS, ROJAS, SOTO,ZARATE]

In [18]:
clase=['AQUINO', 'ARCOS', 'BALDEON', 'BARZOLA', 'BELLO', 'CACHAY', 'CARRASCO', 'CIRIACO', 'DELGADO', 'GAYOSO', 'GONZALES', 'GRANADOS', 'HUAMAN', 'LLANOS','LUQUE', 'PINEDA', 'PRADO', 'QUIJAHUAMAN', 'QUISPE' ,'RAKAUSKAS', 'RAMOS', 'ROJAS', 'SOTO','ZARATE']
print(clase)

['AQUINO', 'ARCOS', 'BALDEON', 'BARZOLA', 'BELLO', 'CACHAY', 'CARRASCO', 'CIRIACO', 'DELGADO', 'GAYOSO', 'GONZALES', 'GRANADOS', 'HUAMAN', 'LLANOS', 'LUQUE', 'PINEDA', 'PRADO', 'QUIJAHUAMAN', 'QUISPE', 'RAKAUSKAS', 'RAMOS', 'ROJAS', 'SOTO', 'ZARATE']

In [19]:
diccionario_clase = {1:'AQUINO', 2:'ARCOS', 3:'BALDEON', 4:'BARZOLA', 5:'BELLO', 6:'CACHAY', 7:'CARRASCO', 8:'CIRIACO', 9:'DELGADO', 10:'GAYOSO', 11:'GONZALES', 12:'GRANADOS', 13:'HUAMAN', 14:'LLANOS',15:'LUQUE', 16:'PINEDA', 17:'PRADO', 18:'QUIJAHUAMAN', 19:'QUISPE' ,20:'RAKAUSKAS', 21:'RAMOS', 22:'ROJAS', 23:'SOTO',24:'ZARATE'}
diccionario_clase

{1: 'AQUINO',
 2: 'ARCOS',
 3: 'BALDEON',
 4: 'BARZOLA',
 5: 'BELLO',
 6: 'CACHAY',
 7: 'CARRASCO',
 8: 'CIRIACO',
 9: 'DELGADO',
 10: 'GAYOSO',
 11: 'GONZALES',
 12: 'GRANADOS',
 13: 'HUAMAN',
 14: 'LLANOS',
 15: 'LUQUE',
 16: 'PINEDA',
 17: 'PRADO',
 18: 'QUIJAHUAMAN',
 19: 'QUISPE',
 20: 'RAKAUSKAS',
 21: 'RAMOS',
 22: 'ROJAS',
 23: 'SOTO',
 24: 'ZARATE'}

In [20]:
for indice, valor in diccionario_clase.items():
    print(indice,valor)

1 AQUINO
2 ARCOS
3 BALDEON
4 BARZOLA
5 BELLO
6 CACHAY
7 CARRASCO
8 CIRIACO
9 DELGADO
10 GAYOSO
11 GONZALES
12 GRANADOS
13 HUAMAN
14 LLANOS
15 LUQUE
16 PINEDA
17 PRADO
18 QUIJAHUAMAN
19 QUISPE
20 RAKAUSKAS
21 RAMOS
22 ROJAS
23 SOTO
24 ZARATE